<h1>Domain Update scan</h1>
<p>RUNNING</p>

     <% Resolv::DNS.open do |dns| %>
     <% @domains.each do |domain| %>
      <% host = domain.domain %>
           <% hostd = "_dmarc.#{host}" %>
           <% recordds = dns.getresources(hostd, Resolv::DNS::Resource::IN::TXT) %>
           <%= recordds %>

       <% end %>
     <% end %>
 <p>Finished</p>             
 <%= link_to 'Show Domain', domains_path %>
<%= link_to 'Run Scan', domains_scans_path %>                    
          
          
            
          