<h1>Domain Update scan</h1>
<p>RUNNING</p>

     <% Resolv::DNS.open do |dns| %>
        <% @domains.each do |domain| %>
        <%= domain.domain %>
         <% host = domain.domain %>
         <% records = dns.getresources(host, Resolv::DNS::Resource::IN::TXT) %>
         <% records.each do |record| %>
            <% txt = record.strings.join %>
                <%  if txt.include?('v=spf1') %>
                  <% domain.update_attribute(:spf, txt) %>
                  <% domain.save %>
                <% end %>
            <% end %>
         <% end %>
     <% end %>
 <p>Finished</p>             
 <%= link_to 'Show Domain', domains_path %>
<%= link_to 'Run Scan', domains_scans_path %>                    
          
          
            
          